html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; visibility: visible !important; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
@font-face { font-family: "slick"; src: url("slick.eot"); src: url("slick.eot?#iefix") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
.slick-prev:before { content: "\2190"; }
.slick-next:before { content: "\2192"; }
.slick-prev, .slick-next { position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; padding: 0; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button { border: 0; background: transparent; display: block; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; font-family: "slick"; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[dir="rtl"] .slick-slide {float: right;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev:before {content: "\2192";}

#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:0;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1200px;width:1200px;min-height:805px;}
.colwrapper{line-height:0;}
.size-2{min-width:1200px;width:1200px;min-height:254px;}
.cont-2{z-index:1;pointer-events:auto;}
.size-3{display:inline-block;height:254px;width:100%;}
.anchor{display:block;}
.js .slider{height:254px;}
.js .slick-prev, .js .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js .slick-prev:before, .js .slick-next:before { font-size: 20px; color: rgb(43,107,145); opacity: 0.75; }
.js .slick-prev { left: 10px; }
.js .slick-next { right: 10px; }
.js .slider-for { margin-bottom: 0px; }
.js .slider-nav { margin-bottom: 0px; visibility: hidden; }
.js .slider-nav img { border: solid 0px transparent; }
.js .slider-nav .slick-center img { border-color: transparent; }
.js .slick-dots { bottom: 0px; }
.js .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js .slick-dots li button { height: 20px; width: 20px; }
.js .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js .slick-dots li.slick-active button:before { color: rgb(64,64,64); opacity: 0.75; }
[dir="rtl"] .js .slick-next {right: auto;left: 10px;}
[dir="rtl"] .js .slick-prev {right: 10px;left: auto;}
.slider img { width: 100%; }

.pos-3{position:relative;margin-left:0;margin-top:-236px;}
.size-4{min-width:1200px;width:1200px;min-height:787px;}
.pos-4{position:relative;margin-left:172px;margin-top:0;}
.size-5{min-width:1009px;width:1009px;min-height:332px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-5{position:relative;margin-left:0;margin-top:245px;}
.size-6{min-width:122px;width:122px;min-height:51px;height:51px;}
.cont-3{z-index:9;pointer-events:auto;}
.pos-6{margin-left:30px;}
.para{padding-top:0;text-indent:-16px;padding-right:0;text-align:left;}
.font{font-family:"Istok Web";font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:40px;letter-spacing:normal;text-shadow:none;}
.pos-7{position:relative;margin-left:13px;margin-top:245px;}
.size-7{min-width:135px;width:135px;min-height:51px;height:51px;}
.cont-4{z-index:10;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-2{font-family:"Istok Web";font-size:20px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:40px;letter-spacing:normal;text-shadow:none;}
.pos-8{position:relative;margin-left:-37px;margin-top:0;}
.size-8{min-width:390px;width:390px;min-height:332px;}
.pos-9{position:relative;margin-left:0;margin-top:0;}
.size-9{min-width:390px;width:390px;min-height:255px;height:255px;}
.cont-5{z-index:2;pointer-events:auto;}
.img{position:absolute;left:0;width:390px;height:135px;top:60px;border:0;}
.img-2{left:0;width:390px;height:135px;top:60px;display:inline-block;}
.pos-10{position:relative;margin-left:42px;margin-top:-10px;}
.size-10{min-width:286px;width:286px;min-height:87px;height:87px;}
.cont-6{z-index:11;pointer-events:auto;}
.pos-11{position:relative;margin-left:236px;margin-top:255px;}
.size-11{min-width:24px;width:24px;min-height:19px;}
.size-12{min-width:24px;width:24px;min-height:19px;height:19px;}
.cont-7{z-index:5;pointer-events:auto;}
.img-3{position:absolute;left:1px;width:23px;height:19px;top:0;border:0;}
.img-4{left:1px;width:23px;height:19px;top:0;display:inline-block;}
.pos-12{position:relative;margin-left:0;margin-top:-19px;}
.cont-8{z-index:25;pointer-events:auto;}
.pos-13{position:relative;margin-left:18px;margin-top:255px;}
.size-13{min-width:26px;width:26px;min-height:19px;}
.size-14{min-width:26px;width:26px;min-height:19px;height:19px;}
.cont-9{z-index:6;pointer-events:auto;}
.img-5{position:absolute;left:2px;width:23px;height:19px;top:0;border:0;}
.img-6{left:2px;width:23px;height:19px;top:0;display:inline-block;}
.cont-10{z-index:26;pointer-events:auto;}
.pos-14{position:relative;margin-left:17px;margin-top:255px;}
.cont-11{z-index:7;pointer-events:auto;}
.img-7{position:absolute;left:3px;width:20px;height:19px;top:0;border:0;}
.img-8{left:3px;width:20px;height:19px;top:0;display:inline-block;}
.cont-12{z-index:27;pointer-events:auto;}
.pos-15{position:relative;margin-left:15px;margin-top:255px;}
.size-15{min-width:24px;width:24px;min-height:19px;}
.size-16{min-width:24px;width:24px;min-height:19px;height:19px;}
.cont-13{z-index:8;pointer-events:auto;}
.img-9{position:absolute;left:2px;width:20px;height:19px;top:0;border:0;}
.img-10{left:2px;width:20px;height:19px;top:0;display:inline-block;}
.cont-14{z-index:28;pointer-events:auto;}
.pos-16{position:relative;margin-left:0;margin-top:-38px;}
.size-17{min-width:1200px;width:1200px;min-height:493px;height:493px;}
.cont-15{z-index:3;pointer-events:auto;}
.img-11{position:absolute;left:0;width:1200px;height:492px;top:0;border:0;}
.img-12{left:0;width:1200px;height:492px;top:0;display:inline-block;}
.pos-17{position:relative;margin-left:186px;margin-top:61px;}
.size-18{min-width:829px;width:829px;min-height:195px;height:195px;}
.cont-16{z-index:4;pointer-events:auto;}
.img-13{position:absolute;left:0;width:829px;height:109px;top:43px;border:0;}
.img-14{left:0;width:829px;height:109px;top:43px;display:inline-block;}
.pos-18{position:relative;margin-left:57px;margin-top:48px;}
.size-19{min-width:1088px;width:1088px;min-height:816px;height:816px;}
.cont-17{z-index:12;pointer-events:auto;}
.img-15{position:absolute;left:140px;width:809px;height:816px;top:0;border:0;}
.img-16{left:140px;width:809px;height:816px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:799px;margin-top:54px;}
.size-20{min-width:222px;width:222px;min-height:41px;}
.size-21{min-width:19px;width:19px;min-height:41px;height:41px;}
.cont-18{z-index:13;pointer-events:auto;}
.font-3{font-family:"Istok Web";font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.pos-20{position:relative;margin-left:3px;margin-top:0;}
.cont-19{z-index:15;pointer-events:auto;}
.cont-20{z-index:16;pointer-events:auto;}
.pos-21{position:relative;margin-left:0;margin-top:0;}
.cont-21{z-index:17;pointer-events:auto;}
.pos-22{position:relative;margin-left:20px;margin-top:0;}
.size-22{min-width:63px;width:63px;min-height:41px;height:41px;}
.cont-22{z-index:14;pointer-events:auto;}
.pos-23{position:relative;margin-left:159px;margin-top:-41px;}
.cont-23{z-index:18;pointer-events:auto;}
.pos-24{position:relative;margin-left:0;margin-top:88px;}
.size-23{min-width:1200px;width:1200px;min-height:112px;}
.pos-25{position:relative;margin-left:0;margin-top:0;}
.size-24{min-width:1200px;width:1200px;min-height:112px;}
.cont-24{z-index:19;border:0;background-color:rgb(0,0,0);}
.pos-26{position:relative;margin-left:129px;margin-top:31px;}
.size-25{min-width:649px;width:649px;min-height:51px;}
.pos-27{position:relative;margin-left:0;margin-top:4px;}
.size-26{min-width:145px;width:145px;min-height:43px;height:43px;}
.cont-25{z-index:30;pointer-events:auto;}
.img-17{position:absolute;left:0;width:145px;height:15px;top:14px;border:0;}
.img-18{left:0;width:145px;height:15px;top:14px;display:inline-block;}
.pos-28{position:relative;margin-left:68px;margin-top:1px;}
.size-27{min-width:176px;width:176px;min-height:50px;height:50px;}
.cont-26{z-index:20;pointer-events:auto;}
.img-19{position:absolute;left:0;width:176px;height:15px;top:18px;border:0;}
.img-20{left:0;width:176px;height:15px;top:18px;display:inline-block;}
.pos-29{position:relative;margin-left:70px;margin-top:0;}
.size-28{min-width:190px;width:190px;min-height:51px;height:51px;}
.cont-27{z-index:21;pointer-events:auto;}
.img-21{position:absolute;left:0;width:190px;height:16px;top:17px;border:0;}
.img-22{left:0;width:190px;height:16px;top:17px;display:inline-block;}
.pos-30{position:relative;margin-left:883px;margin-top:-64px;}
.size-29{min-width:169px;width:169px;min-height:20px;}
.size-30{min-width:25px;width:25px;min-height:19px;height:19px;}
.cont-28{z-index:22;pointer-events:auto;}
.img-23{position:absolute;left:1px;width:23px;height:19px;top:0;border:0;}
.img-24{left:1px;width:23px;height:19px;top:0;display:inline-block;}
.pos-31{position:relative;margin-left:20px;margin-top:1px;}
.cont-29{z-index:23;pointer-events:auto;}
.img-25{position:absolute;left:1px;width:23px;height:19px;top:0;border:0;}
.img-26{left:1px;width:23px;height:19px;top:0;display:inline-block;}
.pos-32{position:relative;margin-left:25px;margin-top:1px;}
.cont-30{z-index:24;pointer-events:auto;}
.pos-33{position:relative;margin-left:23px;margin-top:1px;}
.cont-31{z-index:29;pointer-events:auto;}
.img-27{position:absolute;left:3px;width:20px;height:19px;top:0;border:0;}
.img-28{left:3px;width:20px;height:19px;top:0;display:inline-block;}
@media (min-width:960px) and (max-width:1199px) {
.section{min-width:960px;width:960px;}
.size{min-width:960px;width:960px;min-height:942px;}
.size-2{min-width:960px;width:960px;min-height:203px;}
.size-3{height:203px;}
.js .slider{height:203px;}
.pos-3{margin-top:-189px;}
.size-4{min-width:960px;width:960px;min-height:928px;}
.pos-4{margin-left:58px;}
.size-5{min-width:732px;width:732px;min-height:928px;}
.pos-5{margin-left:80px;margin-top:195px;}
.size-6{min-width:64px;width:64px;min-height:41px;height:41px;}
.pos-6{margin-left:24px;}
.para{text-indent:-14px;}
.font{font-size:17px;line-height:34px;}
.pos-7{margin-left:-64px;margin-top:195px;}
.size-7{min-width:64px;width:64px;min-height:41px;height:41px;}
.font-2{font-size:17px;line-height:34px;}
.pos-8{margin-left:-64px;}
.size-8{min-width:498px;width:498px;min-height:236px;}
.pos-9{margin-left:186px;}
.size-9{min-width:312px;width:312px;min-height:204px;height:204px;}
.img{width:312px;height:108px;top:48px;}
.img-2{width:312px;height:108px;top:48px;}
.pos-10{margin-left:0;margin-top:-9px;}
.size-10{min-width:64px;width:64px;min-height:41px;height:41px;}
.pos-11{margin-left:0;margin-top:572px;}
.size-11{min-width:160px;width:160px;min-height:120px;}
.size-12{min-width:160px;width:160px;min-height:120px;height:120px;}
.img-3{left:10px;width:139px;height:120px;}
.img-4{left:10px;width:139px;height:120px;}
.pos-12{margin-top:-120px;}
.pos-13{margin-left:32px;margin-top:572px;}
.size-13{min-width:160px;width:160px;min-height:120px;}
.size-14{min-width:160px;width:160px;min-height:120px;height:120px;}
.img-5{left:10px;width:141px;height:120px;}
.img-6{left:10px;width:141px;height:120px;}
.pos-14{margin-left:37px;margin-top:572px;}
.img-7{left:20px;width:121px;height:120px;}
.img-8{left:20px;width:121px;height:120px;}
.pos-15{margin-left:23px;margin-top:572px;}
.size-15{min-width:160px;width:160px;min-height:120px;}
.size-16{min-width:160px;width:160px;min-height:120px;height:120px;}
.img-9{left:20px;width:121px;height:120px;}
.img-10{left:20px;width:121px;height:120px;}
.pos-16{margin-top:-692px;}
.size-17{min-width:960px;width:960px;min-height:394px;height:394px;}
.img-11{width:960px;height:393px;top:1px;}
.img-12{width:960px;height:393px;top:1px;}
.pos-17{margin-left:149px;margin-top:-249px;}
.size-18{min-width:663px;width:663px;min-height:156px;height:156px;}
.img-13{width:663px;height:87px;top:35px;}
.img-14{width:663px;height:87px;top:35px;}
.pos-18{margin-left:200px;margin-top:-72px;}
.size-19{min-width:760px;width:760px;min-height:570px;height:570px;}
.img-15{left:98px;width:565px;height:570px;}
.img-16{left:98px;width:565px;height:570px;}
.pos-19{margin-left:614px;margin-top:143px;}
.size-20{min-width:51px;width:51px;min-height:33px;}
.size-21{min-width:51px;width:51px;min-height:33px;height:33px;}
.font-3{font-size:11px;line-height:22px;}
.pos-20{margin-left:0;margin-top:-33px;}
.pos-21{margin-top:-33px;}
.pos-22{margin-left:0;margin-top:-33px;}
.size-22{min-width:51px;width:51px;min-height:33px;height:33px;}
.pos-23{margin-left:0;margin-top:-33px;}
.pos-24{margin-top:-18px;}
.size-23{min-width:960px;width:960px;min-height:178px;}
.pos-25{margin-top:70px;}
.size-24{min-width:960px;width:960px;min-height:108px;}
.pos-26{margin-left:103px;margin-top:27px;}
.size-25{min-width:519px;width:519px;min-height:71px;}
.pos-27{margin-top:6px;}
.size-26{min-width:133px;width:133px;min-height:61px;height:61px;}
.img-17{width:133px;height:14px;top:24px;}
.img-18{width:133px;height:14px;top:24px;}
.pos-28{margin-left:38px;margin-top:0;}
.size-27{min-width:160px;width:160px;min-height:71px;height:71px;}
.img-19{width:160px;height:14px;top:29px;}
.img-20{width:160px;height:14px;top:29px;}
.pos-29{margin-left:28px;margin-top:3px;}
.size-28{min-width:160px;width:160px;min-height:66px;height:66px;}
.img-21{width:160px;height:13px;top:27px;}
.img-22{width:160px;height:13px;top:27px;}
.pos-30{margin-left:458px;margin-top:-178px;}
.size-29{min-width:502px;width:502px;min-height:133px;}
.size-30{min-width:160px;width:160px;min-height:120px;height:120px;}
.img-23{left:10px;width:139px;height:120px;}
.img-24{left:10px;width:139px;height:120px;}
.pos-31{margin-left:-43px;margin-top:13px;}
.img-25{left:10px;width:141px;height:120px;}
.img-26{left:10px;width:141px;height:120px;}
.pos-32{margin-left:-41px;}
.pos-33{margin-left:342px;margin-top:-129px;}
.img-27{left:20px;width:121px;height:120px;}
.img-28{left:20px;width:121px;height:120px;}
}
@media (min-width:768px) and (max-width:959px) {
.section{min-width:768px;width:768px;}
.size{min-width:768px;width:768px;min-height:754px;}
.size-2{min-width:768px;width:768px;min-height:162px;}
.size-3{height:162px;}
.js .slider{height:162px;}
.pos-3{margin-top:-151px;}
.size-4{min-width:768px;width:768px;min-height:743px;}
.pos-4{margin-left:46px;}
.size-5{min-width:586px;width:586px;min-height:743px;}
.pos-5{margin-left:64px;margin-top:156px;}
.size-6{min-width:52px;width:52px;min-height:33px;height:33px;}
.pos-6{margin-left:19px;}
.para{text-indent:-10px;}
.font{font-size:13px;line-height:26px;}
.pos-7{margin-left:-52px;margin-top:156px;}
.size-7{min-width:52px;width:52px;min-height:33px;height:33px;}
.font-2{font-size:13px;line-height:26px;}
.pos-8{margin-left:-52px;}
.size-8{min-width:399px;width:399px;min-height:189px;}
.pos-9{margin-left:149px;}
.size-9{min-width:250px;width:250px;min-height:163px;height:163px;}
.img{width:250px;height:87px;top:38px;}
.img-2{width:250px;height:87px;top:38px;}
.pos-10{margin-left:0;margin-top:-7px;}
.size-10{min-width:52px;width:52px;min-height:33px;height:33px;}
.pos-11{margin-left:0;margin-top:458px;}
.size-11{min-width:128px;width:128px;min-height:96px;}
.size-12{min-width:128px;width:128px;min-height:96px;height:96px;}
.img-3{left:8px;width:112px;height:96px;}
.img-4{left:8px;width:112px;height:96px;}
.pos-12{margin-top:-96px;}
.pos-13{margin-left:26px;margin-top:458px;}
.size-13{min-width:128px;width:128px;min-height:96px;}
.size-14{min-width:128px;width:128px;min-height:96px;height:96px;}
.img-5{left:8px;width:113px;height:96px;}
.img-6{left:8px;width:113px;height:96px;}
.pos-14{margin-left:30px;margin-top:458px;}
.img-7{left:16px;width:97px;height:96px;}
.img-8{left:16px;width:97px;height:96px;}
.pos-15{margin-left:18px;margin-top:458px;}
.size-15{min-width:128px;width:128px;min-height:96px;}
.size-16{min-width:128px;width:128px;min-height:96px;height:96px;}
.img-9{left:16px;width:97px;height:96px;}
.img-10{left:16px;width:97px;height:96px;}
.pos-16{margin-top:-554px;}
.size-17{min-width:768px;width:768px;min-height:315px;height:315px;}
.img-11{width:768px;height:315px;}
.img-12{width:768px;height:315px;}
.pos-17{margin-left:119px;margin-top:-200px;}
.size-18{min-width:531px;width:531px;min-height:125px;height:125px;}
.img-13{width:531px;height:70px;top:27px;}
.img-14{width:531px;height:70px;top:27px;}
.pos-18{margin-left:160px;margin-top:-58px;}
.size-19{min-width:608px;width:608px;min-height:456px;height:456px;}
.img-15{left:78px;width:452px;height:456px;}
.img-16{left:78px;width:452px;height:456px;}
.pos-19{margin-left:491px;margin-top:114px;}
.size-20{min-width:41px;width:41px;min-height:27px;}
.size-21{min-width:41px;width:41px;min-height:27px;height:27px;}
.font-3{font-size:8px;line-height:16px;}
.pos-20{margin-left:0;margin-top:-27px;}
.pos-21{margin-top:-27px;}
.pos-22{margin-left:0;margin-top:-27px;}
.size-22{min-width:41px;width:41px;min-height:27px;height:27px;}
.pos-23{margin-left:0;margin-top:-27px;}
.pos-24{margin-top:-15px;}
.size-23{min-width:768px;width:768px;min-height:143px;}
.pos-25{margin-top:56px;}
.size-24{min-width:768px;width:768px;min-height:87px;}
.pos-26{margin-left:82px;margin-top:22px;}
.size-25{min-width:416px;width:416px;min-height:57px;}
.pos-27{margin-top:5px;}
.size-26{min-width:107px;width:107px;min-height:49px;height:49px;}
.img-17{width:107px;height:11px;top:19px;}
.img-18{width:107px;height:11px;top:19px;}
.pos-28{margin-left:30px;margin-top:0;}
.size-27{min-width:128px;width:128px;min-height:57px;height:57px;}
.img-19{width:128px;height:11px;top:23px;}
.img-20{width:128px;height:11px;top:23px;}
.pos-29{margin-left:23px;margin-top:2px;}
.size-28{min-width:128px;width:128px;min-height:53px;height:53px;}
.img-21{width:128px;height:11px;top:21px;}
.img-22{width:128px;height:11px;top:21px;}
.pos-30{margin-left:366px;margin-top:-143px;}
.size-29{min-width:402px;width:402px;min-height:107px;}
.size-30{min-width:128px;width:128px;min-height:96px;height:96px;}
.img-23{left:8px;width:112px;height:96px;}
.img-24{left:8px;width:112px;height:96px;}
.pos-31{margin-left:-34px;margin-top:11px;}
.img-25{left:8px;width:113px;height:96px;}
.img-26{left:8px;width:113px;height:96px;}
.pos-32{margin-left:-33px;}
.pos-33{margin-left:274px;margin-top:-103px;}
.img-27{left:16px;width:97px;height:96px;}
.img-28{left:16px;width:97px;height:96px;}
}
@media (min-width:480px) and (max-width:767px) {
.section{min-width:480px;width:480px;}
.size{min-width:480px;width:480px;min-height:471px;}
.size-2{min-width:480px;width:480px;min-height:101px;}
.size-3{height:101px;}
.js .slider{height:101px;}
.pos-3{margin-top:-94px;}
.size-4{min-width:480px;width:480px;min-height:464px;}
.pos-4{margin-left:29px;}
.size-5{min-width:366px;width:366px;min-height:464px;}
.pos-5{margin-left:40px;margin-top:97px;}
.size-6{min-width:32px;width:32px;min-height:21px;height:21px;}
.pos-6{margin-left:12px;}
.para{text-indent:-6px;}
.font{font-size:8px;line-height:16px;}
.pos-7{margin-left:-32px;margin-top:97px;}
.size-7{min-width:32px;width:32px;min-height:21px;height:21px;}
.font-2{font-size:8px;line-height:16px;}
.pos-8{margin-left:-32px;}
.size-8{min-width:249px;width:249px;min-height:118px;}
.pos-9{margin-left:93px;}
.size-9{min-width:156px;width:156px;min-height:102px;height:102px;}
.img{width:156px;height:54px;top:24px;}
.img-2{width:156px;height:54px;top:24px;}
.pos-10{margin-left:0;margin-top:-5px;}
.size-10{min-width:32px;width:32px;min-height:21px;height:21px;}
.pos-11{margin-left:0;margin-top:286px;}
.size-11{min-width:80px;width:80px;min-height:60px;}
.size-12{min-width:80px;width:80px;min-height:60px;height:60px;}
.img-3{left:5px;width:70px;height:60px;}
.img-4{left:5px;width:70px;height:60px;}
.pos-12{margin-top:-60px;}
.pos-13{margin-left:16px;margin-top:286px;}
.size-13{min-width:80px;width:80px;min-height:60px;}
.size-14{min-width:80px;width:80px;min-height:60px;height:60px;}
.img-5{left:5px;width:71px;height:60px;}
.img-6{left:5px;width:71px;height:60px;}
.pos-14{margin-left:19px;margin-top:286px;}
.img-7{left:10px;width:61px;height:60px;}
.img-8{left:10px;width:61px;height:60px;}
.pos-15{margin-left:11px;margin-top:286px;}
.size-15{min-width:80px;width:80px;min-height:60px;}
.size-16{min-width:80px;width:80px;min-height:60px;height:60px;}
.img-9{left:10px;width:61px;height:60px;}
.img-10{left:10px;width:61px;height:60px;}
.pos-16{margin-top:-346px;}
.size-17{min-width:480px;width:480px;min-height:197px;height:197px;}
.img-11{width:480px;height:197px;}
.img-12{width:480px;height:197px;}
.pos-17{margin-left:74px;margin-top:-125px;}
.size-18{min-width:332px;width:332px;min-height:78px;height:78px;}
.img-13{width:332px;height:44px;top:17px;}
.img-14{width:332px;height:44px;top:17px;}
.pos-18{margin-left:100px;margin-top:-36px;}
.size-19{min-width:380px;width:380px;min-height:285px;height:285px;}
.img-15{left:49px;width:283px;height:285px;}
.img-16{left:49px;width:283px;height:285px;}
.pos-19{margin-left:307px;margin-top:71px;}
.size-20{min-width:26px;width:26px;min-height:17px;}
.size-21{min-width:26px;width:26px;min-height:17px;height:17px;}
.font-3{font-size:5px;line-height:10px;}
.pos-20{margin-left:0;margin-top:-17px;}
.pos-21{margin-top:-17px;}
.pos-22{margin-left:0;margin-top:-17px;}
.size-22{min-width:26px;width:26px;min-height:17px;height:17px;}
.pos-23{margin-left:0;margin-top:-17px;}
.pos-24{margin-top:-9px;}
.size-23{min-width:480px;width:480px;min-height:89px;}
.pos-25{margin-top:35px;}
.size-24{min-width:480px;width:480px;min-height:54px;}
.pos-26{margin-left:51px;margin-top:14px;}
.size-25{min-width:260px;width:260px;min-height:35px;}
.pos-27{margin-top:3px;}
.size-26{min-width:67px;width:67px;min-height:30px;height:30px;}
.img-17{width:67px;height:7px;top:12px;}
.img-18{width:67px;height:7px;top:12px;}
.pos-28{margin-left:19px;margin-top:0;}
.size-27{min-width:80px;width:80px;min-height:35px;height:35px;}
.img-19{width:80px;height:7px;top:14px;}
.img-20{width:80px;height:7px;top:14px;}
.pos-29{margin-left:14px;margin-top:1px;}
.size-28{min-width:80px;width:80px;min-height:33px;height:33px;}
.img-21{width:80px;height:7px;top:13px;}
.img-22{width:80px;height:7px;top:13px;}
.pos-30{margin-left:229px;margin-top:-89px;}
.size-29{min-width:251px;width:251px;min-height:67px;}
.size-30{min-width:80px;width:80px;min-height:60px;height:60px;}
.img-23{left:5px;width:70px;height:60px;}
.img-24{left:5px;width:70px;height:60px;}
.pos-31{margin-left:-21px;margin-top:7px;}
.img-25{left:5px;width:71px;height:60px;}
.img-26{left:5px;width:71px;height:60px;}
.pos-32{margin-left:-21px;margin-top:0;}
.pos-33{margin-left:171px;margin-top:-65px;}
.img-27{left:10px;width:61px;height:60px;}
.img-28{left:10px;width:61px;height:60px;}
}
@media (max-width:479px) {
.section{min-width:320px;width:320px;}
.size{min-width:320px;width:320px;min-height:314px;}
.size-2{min-width:320px;width:320px;min-height:67px;}
.size-3{height:67px;}
.js .slider{height:67px;}
.pos-3{margin-top:-62px;}
.size-4{min-width:320px;width:320px;min-height:309px;}
.pos-4{margin-left:19px;}
.size-5{min-width:244px;width:244px;min-height:309px;}
.pos-5{margin-left:27px;margin-top:64px;}
.size-6{min-width:21px;width:21px;min-height:14px;height:14px;}
.pos-6{margin-left:8px;}
.para{text-indent:-4px;}
.font{font-size:5px;line-height:10px;}
.pos-7{margin-left:-21px;margin-top:64px;}
.size-7{min-width:21px;width:21px;min-height:14px;height:14px;}
.font-2{font-size:5px;line-height:10px;}
.pos-8{margin-left:-21px;}
.size-8{min-width:166px;width:166px;min-height:78px;}
.pos-9{margin-left:62px;}
.size-9{min-width:104px;width:104px;min-height:68px;height:68px;}
.img{width:104px;height:36px;top:16px;}
.img-2{width:104px;height:36px;top:16px;}
.pos-10{margin-left:0;margin-top:-4px;}
.size-10{min-width:21px;width:21px;min-height:14px;height:14px;}
.pos-11{margin-left:0;margin-top:191px;}
.size-11{min-width:54px;width:54px;min-height:40px;}
.size-12{min-width:54px;width:54px;min-height:40px;height:40px;}
.img-3{left:4px;width:47px;height:40px;}
.img-4{left:4px;width:47px;height:40px;}
.pos-12{margin-top:-40px;}
.pos-13{margin-left:10px;margin-top:191px;}
.size-13{min-width:54px;width:54px;min-height:40px;}
.size-14{min-width:54px;width:54px;min-height:40px;height:40px;}
.img-5{left:3px;width:47px;height:40px;}
.img-6{left:3px;width:47px;height:40px;}
.pos-14{margin-left:12px;margin-top:191px;}
.img-7{left:7px;width:41px;height:40px;}
.img-8{left:7px;width:41px;height:40px;}
.pos-15{margin-left:7px;margin-top:191px;}
.size-15{min-width:53px;width:53px;min-height:40px;}
.size-16{min-width:53px;width:53px;min-height:40px;height:40px;}
.img-9{left:6px;width:41px;height:40px;}
.img-10{left:6px;width:41px;height:40px;}
.pos-16{margin-top:-231px;}
.size-17{min-width:320px;width:320px;min-height:132px;height:132px;}
.img-11{width:320px;height:131px;top:1px;}
.img-12{width:320px;height:131px;top:1px;}
.pos-17{margin-left:49px;margin-top:-83px;}
.size-18{min-width:222px;width:222px;min-height:52px;height:52px;}
.img-13{width:222px;height:29px;top:12px;}
.img-14{width:222px;height:29px;top:12px;}
.pos-18{margin-left:67px;margin-top:-24px;}
.size-19{min-width:253px;width:253px;min-height:190px;height:190px;}
.img-15{left:32px;width:189px;height:190px;}
.img-16{left:32px;width:189px;height:190px;}
.pos-19{margin-left:205px;margin-top:47px;}
.size-20{min-width:17px;width:17px;min-height:12px;}
.size-21{min-width:17px;width:17px;min-height:12px;height:12px;}
.font-3{font-size:3px;line-height:6px;}
.pos-20{margin-left:0;margin-top:-12px;}
.pos-21{margin-top:-12px;}
.pos-22{margin-left:0;margin-top:-12px;}
.size-22{min-width:17px;width:17px;min-height:12px;height:12px;}
.pos-23{margin-left:0;margin-top:-12px;}
.pos-24{margin-top:-6px;}
.size-23{min-width:320px;width:320px;min-height:59px;}
.pos-25{margin-top:23px;}
.size-24{min-width:320px;width:320px;min-height:36px;}
.pos-26{margin-left:34px;margin-top:9px;}
.size-25{min-width:173px;width:173px;min-height:24px;}
.pos-27{margin-top:2px;}
.size-26{min-width:45px;width:45px;min-height:20px;height:20px;}
.img-17{width:45px;height:5px;top:8px;}
.img-18{width:45px;height:5px;top:8px;}
.pos-28{margin-left:12px;margin-top:0;}
.size-27{min-width:54px;width:54px;min-height:24px;height:24px;}
.img-19{width:54px;height:5px;top:10px;}
.img-20{width:54px;height:5px;top:10px;}
.pos-29{margin-left:9px;margin-top:1px;}
.size-28{min-width:53px;width:53px;min-height:22px;height:22px;}
.img-21{width:53px;height:5px;top:8px;}
.img-22{width:53px;height:5px;top:8px;}
.pos-30{margin-left:153px;margin-top:-59px;}
.size-29{min-width:167px;width:167px;min-height:44px;}
.size-30{min-width:53px;width:53px;min-height:40px;height:40px;}
.img-23{left:3px;width:47px;height:40px;}
.img-24{left:3px;width:47px;height:40px;}
.pos-31{margin-left:-14px;margin-top:4px;}
.img-25{left:3px;width:47px;height:40px;}
.img-26{left:3px;width:47px;height:40px;}
.pos-32{margin-left:-14px;margin-top:0;}
.pos-33{margin-left:114px;margin-top:-43px;}
.img-27{left:6px;width:41px;height:40px;}
.img-28{left:6px;width:41px;height:40px;}
}
#body-2{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;background-color:rgb(255,255,255);}
@media (min-width:960px) and (max-width:1199px) {
#body-2{min-width:960px;width:960px;}
}
@media (min-width:768px) and (max-width:959px) {
#body-2{min-width:768px;width:768px;}
}
@media (min-width:480px) and (max-width:767px) {
#body-2{min-width:480px;width:480px;}
}
@media (max-width:479px) {
#body-2{min-width:320px;width:320px;}
}
